# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# NOTE: https://github.com/facebook/react-native/blob/main/.gitignore

# Dependencies
Payload/
Symbols/
Zipbap_extracted/
*.app/
*.ipa
*.xcarchive
*.dSYM.zip
*.dSYM

node_modules/
package-lock.json
.vscode/
.idea/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/
*.jsbundle

# Native (common)
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.swp
*.swo
*.iml
*.hprof

# Android
android/.gradle/
android/build/
android/app/build/
android/*.lock
android/*.bin
android/*.probe
android/*.sha
android/*.html
android/autolinking.json
android/build/autolinking.json
android/app/.cxx/
*.apk

# NOTE: 개인 소장이 필요하다고 한다(일단 주석)
# *.keystore
# *.jks

# iOS
ios/build/
ios/DerivedData/
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace
ios/*.xcuserdatad
ios/*.xcuserstate
ios/*.pbxuser
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3

# Metro bundler
.metro-health-check*

# Debug / Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo
problems-report.html

# macOS / OS-specific
.DS_Store
Thumbs.db

# Env files
.env
.env*.local
credentials.json