{"name":"zipbap","slug":"zipbap","version":"1.0.0","orientation":"portrait","icon":"./assets/img/app-icon.png","userInterfaceStyle":"light","newArchEnabled":true,"splash":{"image":"./assets/img/slash-logo.png","resizeMode":"contain","backgroundColor":"#DA5534"},"ios":{"supportsTablet":true,"bundleIdentifier":"com.kgs9843.zipbap","infoPlist":{"NSPhotoLibraryUsageDescription":"레시피 사진을 업로드하기 위해 사진 라이브러리에 접근합니다.","NSCameraUsageDescription":"레시피 사진을 촬영하기 위해 카메라에 접근합니다.","NSMicrophoneUsageDescription":"영상 녹화를 위해 마이크에 접근합니다."}},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"edgeToEdgeEnabled":true,"package":"com.kgs9843.zipbap"},"web":{"bundler":"metro","favicon":"./assets/img/app-icon.png"},"extra":{"eas":{"projectId":"9d7d1d30-dc6c-4ea6-acce-c9b91260adac"}},"sdkVersion":"53.0.0","platforms":["ios","android","web"]}